# http://coverage.readthedocs.io/en/latest/config.html
[run]
source = .
omit =
    conf/
    */test*

[report]
include = ./*
omit =
    conf/
    */test*
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.: